section.about
  .about__wrapper
    +pageNav(about.number)
    .about__desc
      +hashtag(about.hashtag)
      h1.about__title.title #{about.title}
      .about__details-wrapper
        .about__info-wrapper
          ul.about__details
            each detail in about.details
              li
                .about__detail-wrapper
                  if detail.datetime
                    time.about__detail(datetime=detail.datetime) !{detail.text}
                  else
                    p.about__detail !{detail.text}
                svg.about__detail-svg(viewBox=detail.icon.viewBox width=detail.icon.width heigth=detail.icon.heigth)
                  use(xlink:href=`#${detail.icon.id}`)
          a.about__button.button.button--book(href=about.bookButton.href role="button" aria-pressed="false") #{about.bookButton.text}
          ul.socials.socials--desktop
            each social in about.socials
              +social(social.href, social.modifyer, social.name)
        .about__photos-container
          .swiper-slider.about__photos
            .swiper-wrapper.about__photos-wrapper
              each photo in about.photos
                .swiper-slide.about__photo-wrapper
                  img.swiper-slide.about__photo(src=photo.src alt=photo.alt width=photo.width height=photo.height)
            .about__controls
              each control in about.controls
                button.about__control(class=`about__control--${control.modify}` type="button")
                  svg.about__control-svg(viewBox=control.svg.viewBox width=control.svg.width height=control.svg.height)
                    use(xlink:href=control.svg.id)