.dialog.dialog--form(role='dialog' aria-labelledby=dialog.title.id)
  h2.dialog__title.visually-hidden(id=dialog.title.id) #{dialog.title.text}
  p.dialog__lead #{dialog.lead}
  form.dialog__form.form(method="post" name=dialog.form.name)
    ul
      each field in dialog.form.fields
        if !field.radioes
          li.form__field-wrapper
            label.form__label(for=field.id) #{field.label}
            input.form__input(id=field.id type=field.type value=field.value name=field.name placeholder=field.placeholder)
        else
          li.form__field-wrapper
            p.form__lead #{dialog.form.lead}
            each radio in field.radioes
              label.form__radio-label #{radio.text}
                input.form__radio(type="radio" value=radio.value name=radio.name checked=radio.isChecked ? "checked" : null)
    button.button.button--book(type="submit" aria-label=dialog.form.button.ariaLabel) #{dialog.form.button.text}  
