section.judges
  +pageNav(judges.number)
  h2.title.judges__title #{judges.title}
  .swiper-container.judges__cards
    ul.swiper-wrapper.judges__cards-wrapper
      each card in judges.cards
        li.swiper-slide
          article.judges__card
            img.judges__photo(src=card.photo.src alt=card.photo.alt width=card.photo.width height=card.photo.height)
            .judges__card-wrapper
              h3.title.judges__name !{card.name}
              p.judges__country #{card.country}
              p.judges__desc #{card.desc}
              ul.socials.socials--small.judges__socials
                each social in card.socials
                  +social(social)
  .pagination.judges__pagination