.menu
  button.menu__trigger#menuButton(type="button" aria-label=menu.button.aria.label aria-haspopup=menu.button.aria.isHaspopup aria-expanded=menu.button.aria.isExpanded aria-controls=menu.button.aria.controls)
  ul.menu__list.menu__list--no-js#menu(aria-labelledby=arialabelledby role="menu")
    each item in menu.list
      li(role="none")
        a.menu__item(class=currentPageHref===item.href?"menu__item--active":null href=currentPageHref===item.href?null:item.href role="menuitem") #{item.name}
