nav.nav
  a.nav__logo(href=data.main ? null : nav.logo.href)
    img(src=nav.logo.src alt=nav.logo.alt width=nav.logo.width height=nav.logo.height)
  +hashtag(hashtag.blade, 'nav')
  include menu.pug
  select.nav__lang-select
    each lang in nav.langSelect
      option.nav__lang-item(selected = lang.isSelected) #{lang.lang}

