nav.nav.nav--no-js(aria-label=nav.aria.label)
  button.nav__burger(id=nav.button.id type="button" aria-label=nav.button.aria.label aria-haspopup=nav.button.aria.haspopup aria-expanded=nav.button.aria.expanded)
  ul.nav__list.menu__list--no-js
    each item in nav.list
      li
        a.nav__item(class=data.href===item.href ? "menu__item--active" : null href=data.href===item.href ? null : item.href) #{item.name}