mixin pageNav(number)
  .page-nav
    ul.page-nav__buttons
      each button in pageNav.buttons
        li
          button.page-nav__button(class=`page-nav__button--${button.modifyer}` type="button" aria-label=button.ariaLabel)
    .page-nav__wrapper
      span.page-nav__number(class="page-nav__number--active") #{number}/
      span.page-nav__number #{pageNav.total}

mixin hashtag(params)
  a.hashtag(class=params.isSmall ? "hashtag--small" : null href=params.href aria-label=params.ariaLabel) #{params.text}

mixin social(href, modyfier, name)
  li
    a.socials__item(href=href class=`socials__item--${modyfier}`) #{name}

mixin sliderControls(customClass, isSmall)
  div(class=customClass ? `${customClass}--small` : customClass)
    button(class=`${customClass}-prev` type="button" aria-label="Показать предыдущий слайд")
    button(class=`${customClass}-next` type="button" aria-label="Показать следующий слайд")
