mixin pageNav(number)
  .page-nav
    ul.page-nav__buttons
      each button in pageNav.buttons
        li
          button.page-nav__button(class=`page-nav__button--${button.modifyer}` type="button" aria-label=button.ariaLabel)
    .page-nav__wrapper
      span.page-nav__number(class="page-nav__number--active") #{number}/
      span.page-nav__number #{pageNav.total}

mixin hashtag(params)
  a.hashtag(class=params.isSmall ? "hashtag--small" : null href=params.href aria-label=params.ariaLabel) #{params.text}

mixin social(params)
  li
    a.socials__item(href=params.href aria-label=params.name)
      svg.socials__svg(viewBox=params.viewBox height=params.height)
        use(xlink:href=`#${params.id}`)